@media (max-width: 1000px) {
    header {
        display: flex;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* mobile-overlay */

@media (orientation: landscape) and (max-width: 1000px) {
    .mobile-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F6C931;
        gap: 20px;
    }
    
    .mobile-overlay span {
        font-size: 23px;
        font-weight: 500;
    }
    
    .mobile-overlay img {
        width: 200px;
    }
}

@media (max-width: 760px) {
    body {
        font-size: 14px;
    }

    /* header */

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-container {
        margin-top: 10px;
    }

    .pokeball {
        height: 50px;
    }

    .title {
        font-size: 40px;
    }

    .input-container {
        position: unset;
        margin-bottom: 20px;
    }

    /* body-part */

    #bodyPart {
        padding-left: 10px;
        padding-right: 10px;
        gap: 10px;
    }

    /* pokedex-card-small */

    .pokedex-small {
        height: 150px;
        width: 100px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .name-number-container {
        display: flex;
        flex-direction: column;
    }

    .pokemon-name-small {
        font-size: 14px;
    }

    .number-small {
        font-size: 12px;
    }

    .img-small {
        max-height: 60px;
    }

    .btn-type {
        font-size: 10px;
        padding: 3px 6px;
    }

    /* button load-more */

    .btn-container {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .btn-loadmore {
        font-size: 16px;
        width: 120px;
    }

    /* search */

    .no-search {
        font-size: 16px;
        text-align: center;
    }

    /* pokédex big */

    .pokdedex-card {
        width: 100%;
    }

    /* card-header */

    .card-header {
        height: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .number-big {
        font-size: 16px;
    }

    .next-prev-container {
        padding-top: 10px;
    }


    /* top */

    .top {
        height: 150px;
        display: flex;
        justify-content: space-between;
    }

    .top-info {
        width: 100px;
        margin-bottom: 20px;
        margin-left: 40px;
    }

    .name-big {
        font-size: 16px;
    }

    .type-container {
        margin-top: 8px;
    }

    .top-img {
        height: 120px;
        max-width: 120px;
        margin-right: 80px;
        margin-bottom: -20px;
    }

    /* about-part */

    .info-bottom {
        padding: 10px;
    }

    .description {
        height: 200px;
    }

    .description h2 {
        font-size: 16px;
    }

    .evolution-img {
        height: 120px;
    }

    .w-h-center {
        margin-top: 80px;
    }

}

@media (max-width: 520px) {

    /* bottom */

    .bottom {
        height: 450px;
    }

    .w-h-center {
        margin-top: 40px;
    }

    /* top */

    .top-info {
        margin-left: 10px;
    }

    .top-img {
        height: 120px;
        max-width: 120px;
        margin-right: 10px;
    }

    /* about-part */

    .evolution-img {
        max-width: 150px;
    }

    /* moves-part */

    .move-container {
        height: 334px;
    }

    .back-arrow {
        margin: 10px 10px 20px 10px;
    }

    .impressum-container,
    .datenschutz-container {
        margin: 0 10px 10px 10px;
    }
}