body {
    margin: 0;
    padding-top: 170px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: #3262AB;
    font-size: 16px;
}

/* header */

header {
    height: 150px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background-color: #F6C931;
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 40px;
}

.header-container {
    display: flex;
    align-items: center;
}

.pokeball {
    height: 100px;
}

.title {
    font-size: 50px;
    font-weight: bold;
}

.input-container {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

label {
    font-size: 14px;
}

input {
    border-radius: 10px;
    border: 1px solid black;
    padding: 4px 10px;
    width: 160px;
    margin-top: 6px;
    background-color: white;
}

/* body-part */

#bodyPart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* pokedex-card-small */

.pokedex-small {
    height: 300px;
    width: 200px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}

.pokedex-small:hover {
    cursor: pointer;
}

.name-number-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pokemon-name-small {
    font-size: 20px;
    margin: 0;
}

.img-small {
    max-height: 150px;
}

.typ-container-small {
    height: 40px;
    display: flex;
}

.btn-type {
    height: 20px;
    padding: 4px 8px;
    margin-right: 8px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: rgb(255, 255, 255, 0.3);
}

/* background-color */

.grass {
    background-color: rgb(155,204,80);
}

.fire {
    background-color: rgb(253,125,37);
}

.water {
    background-color: rgb(69,146,197);
}

.bug {
    background-color: rgb(115,159,64);
}

.normal {
    background-color: rgb(163,172,175);
}

.poison {
    background-color: rgb(186,128,201);
}

.electric {
    background-color: rgb(238,213,53);
}

.ground {
    background-color: rgb(171,152,65);
}

.fairy {
    background-color: rgb(252,184,233);
}

.fighting {
    background-color: rgb(213,103,34);
}

.psychic {
    background-color: rgb(247,135,200);
}

.rock {
    background-color: rgb(163,140,32);
}

.ghost {
    background-color: rgb(123,98,163);
}

/* button load-more */

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-loadmore {
    width: 150px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238,213,53);
    border: 2px solid rgb(180,21,19);
    color: rgb(180,21,19);
    font-size: 18px;
    font-weight: bold;
}

.btn-loadmore:hover {
    cursor: pointer;
}

/* search */

.no-search {
    color: white;
    margin-top: 40px;
    font-size: 20px;
}

/* pokédex big */

.d-none {
    display: none !important;
}

.pokedex-big {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokedex-card {
    width: 500px;
    border-radius: 40px;
    position: relative;
}


/* card-header */

.card-header {
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-btn {
    width: 24px;
    margin-top: -24px;
}

.close-btn:hover {
    cursor: pointer;
}

.next-prev-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
}

.btn-next-prev {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.btn-next-prev img {
    height: 20px;
}


.btn-next-prev:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.3);
}

/* top */

.top {
    height: 200px;
    display: flex;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 30px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.top-info {
    width: 200px;
    margin-left: 30px;
}

.number-name-container {
    display: flex;
    flex-direction: column;
}

.number-big {
    font-weight: 600;
}

.name-big {
    font-weight: bold;
    font-size: 24px;
}

.type-container {
    display: flex;
    margin-top: 12px;
}

.top-img {
    height: 200px;
    max-width: 300px;
    margin-bottom: -30px;
    margin-right: 30px;
}

/* bottom */

.bottom {
    border-radius: 40px;
    height: 500px;
    background-color: white;
    z-index: 99;
    margin-top: -50px;
    font-size: 14px;
}

/* header-bottom */

.header-bottom {
    width: 100%;
    padding-top: 44px;
    padding-bottom: 4px;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid rgb(190, 189, 189);
    box-shadow: 0 4px 4px 0 rgba(190, 189, 189, 0.5);
}

.header-bottom span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.text-underline {
    text-decoration: underline;
}

/* about-part */

.info-bottom {
    padding: 20px;
}

.description {
    height: 250px;
    overflow-y: auto;
}

.description h2 {
    margin: 0;
    font-size: 18px;
}

.evolution-chain-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.evolution-img {
    height: 150px;
    margin-bottom: 40px;
    margin-top: 4px;
}

.w-h-center {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.weight-height {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(190, 189, 189, 0.3);
    border: 2px solid rgb(190, 189, 189);
    border-radius: 20px;
    height: 80px;
    width: 250px;
}

.w-h-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.w-h-container:first-child {
    margin-left: 30px;
}

.w-h-container:nth-child(2) {
    margin-right: 30px;
}

.w-h-title {
    font-weight: bold;
    margin-bottom: 8px;
}

/* base state-part */

.charts-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.base-state-container {
    margin-top: 60px;
}

/* moves-part */

.move-container {
    overflow-y: auto;
    height: 380px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.move {
    margin: 10px 4px;
    background-color: rgba(190, 189, 189, 0.3);
    padding: 4px 10px;
    border-radius: 40px;
}

